
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: 'dbe-nitrogenregular';
    src: url('fonts/dbe-nitrogen-webfont.eot');
    src: url('fonts/dbe-nitrogen-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbe-nitrogen-webfont.woff') format('woff'),
         url('fonts/dbe-nitrogen-webfont.ttf') format('truetype'),
         url('fonts/dbe-nitrogen-webfont.svg#dbe-nitrogenregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
     font-family: Calibri
}

h1 {
    font-family: dbe-nitrogenregular;
    font-size: 90px;
    margin: 0px;
    max-width:100%
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0px;
    font-family: Calibri
}
h4 {
    margin: 0px;
}

label {
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    width: 100%;
    display: inline-block;
    margin-top: 4px;
}

#canvas {
    max-width: 100%;
    width: 100%;
}

fieldset {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

legend {
    font-size: 24px;
}

#minimap {
    min-height: 300px;
    max-height: 400px;
    overflow: auto;
    width: 100%;
    background-color: gray;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

#minimap table {
    border-collapse: collapse;
    display: table;
    margin: 0 auto;
    padding: 0;

}



#minimap td {
    width: 3px;
    height: 3px;
    border: none;
    padding: 0;
    margin: 0;
}

input, textarea {
    width: 100%;
    margin: 0;
    padding: 3px 0px 3px 0px;
    text-indent: 3px;
}
textarea:focus {
    background-color: rgba(128,255,65,0.4)
}
input:focus {
    background-color: rgba(128,255,65,0.4)
}

#arrayoutput {
    min-height: 100px;
    height: 150px;
    max-height: 300px;
}

button {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 24px;
}


